body {
    background-image: url(../images/wallhaven695365.jpg);
    background-repeat: inherit;
    font-family:  'Luckiest Guy', cursive,arial;
    text-transform: capitalize;
    color: darkblue;
    font-size: larger;
    margin: 60px;
}

.gif, p {
    margin: 15px;
    padding: 10px;
}
.giphyButton {
    background-color: rgb(245, 239, 1);
    color: rgb(204, 13, 13);
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 15px;
    padding:15px 20px;
}
#find-giphy {
    margin-left:10px;
    border-radius: 10px;
    background-color: rgb(204, 13, 13);
    color: rgb(245, 239, 1);
    border-radius: 10px;
    padding:15px 20px; 
}

h1 {
    font-size: 60px;
    margin: 15px;
}

h2 {
    font-size: 30px;
    margin: 15px;
}

label,#giphy-input {
    margin-bottom: .5rem;
    margin: 15px;
    font-size: x-large;
}